/*
 * Copyright 2015 Riccardo Padovani <riccardo@rpadovani.com>
 *
 * This file is part of presentations.rpadovani.com
 *
 * presentations.rpadovani.com is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 3.
 *
 * presentations.rpadovani.com is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset rules */
body {
	font-family: 'Ubuntu'
}

/* Specific step rules */

.introduction {
	color: white;
 	background-color: #dd4814;

	display: block;
  width: 900px;
  height: 700px;

  padding: 40px 60px;

  border-radius: 10px;
}

.author {
	font-size: 0.6em;
}

.title {
	text-align: center;
	margin-top: 25%;
}

.common {
	text-align: center;
	margin-top: 25%;
	font-size: 1.5em;
	line-height: 1.5;
}

.cof {
	width: 900px;
	height: 600px;

	background-image: url(../img/cof.png);
	background-repeat: no-repeat;
	background-position: center;
}
#futuro {
	width: 700px;
	height: 400px;

	background-image: url(../img/futuro.png);
	background-repeat: no-repeat;
	background-position: center;
}
#convergence {
	width:1778px;
	height:786px;

	background-image: url(../img/convergence.png);
	background-repeat: no-repeat;
	background-position: center;
}
#human-touch {
	width:1366px;
	height:768px;

	background-image: url(../img/ubuntu-the-human-touch.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
